<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951110180167-a4d8j4fjjvpibaa8or8kthl310p81q7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951110180167-a4d8j4fjjvpibaa8or8kthl310p81q7i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>951110180167-p2udvptemg529c30mglkcvvtq4k9fmjb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCvCyWPkuK4Z6h5yg0YQAtz-6Hgoj-qTvI</string>
	<key>GCM_SENDER_ID</key>
	<string>951110180167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.avioflai.aviation</string>
	<key>PROJECT_ID</key>
	<string>avioflai-app-934cc</string>
	<key>STORAGE_BUCKET</key>
	<string>avioflai-app-934cc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951110180167:ios:a846f5aa45e2abdf084062</string>
</dict>
</plist>