<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>avioflAI</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>avionics_internal</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.951110180167-a4d8j4fjjvpibaa8or8kthl310p81q7i</string>
				<string>fb1831126584116154</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1831126584116154</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FacebookAppID</key>
	<string>1831126584116154</string>
	<key>FacebookClientToken</key>
	<string>3fdf59b543830de9b8860238fc53987a</string>
	<key>FacebookDisplayName</key>
	<string>Avioflai-App</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>sms</string>
		<string>tel</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Need Permission to access network</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to your location to show your position on the map</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app needs access to your location to show your position on the map</string>
	<key>io.flutter.embedded_views_preview</key>
    <true/>
    <key>GMSApiKey</key>
    <string>AIzaSyCJFZK5Vtm_lizL49vynGz3L7i5Z8nZ374</string>
     <key>NSSpeechRecognitionUsageDescription</key>
     <string>This app needs access to speech recognition for voice input.</string>
     <key>NSMicrophoneUsageDescription</key>
     <string>This app needs access to your microphone to capture voice input.</string>

     	<key>FirebaseAppDelegateProxyEnabled</key>
     	<true/>
     	<key>NSUserNotificationAlertStyle</key>
     	<string>alert</string>
     	<key>UNUserNotificationCenterDelegate</key>
     	<true/>
     	<key>UIBackgroundModes</key>
     	<array>
     		<string>remote-notification</string>
     		<string>fetch</string>
     	</array>
</dict>
</plist>
